@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,400;0,700;1,700&display=swap');
html{
    font-size: 16px;
    line-height: 1.5;
    font-family: Raleway, sans-serif;
}
h1, h2{
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}
