@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-family: 'Courgette', cursive;
}
.site{
    background-color: #f5f5f5;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0 90px;
}
.header h1{
    font-size:62px;
}
.design{
    display: block;
    color: #c91c2b;
    font-weight: bold;
    position: absolute;
    top: 60px;
    right:35.5%;
    font-size: 36px;
    margin: 12px;
}

/* CARDS */

.cards{
    display: flex;
    gap: 42px;
    justify-content: center;
    align-self: center;
    width: 80vw;
    text-align: center;
    margin-left: 10%;
    
}
.cards .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 48px;
    height: 100%;
    position: relative;
}
h2{
    margin-top: 24px;
}
.cards .card .img{
    width: 100%;
    
    
}
.cards .card .divider{
    display: inline-block;
    height: 1px;
    width: 90%;
    background-color: #c91c2b;
    margin: 24px auto;
}
.content{
    width: 80%;
    margin: 0 auto 24px;
    font-size: 18px;
}
.btn{
    text-decoration: none;
    font-size: 18px;
    color: black;
    margin-bottom: 12px;
}
.btn i{
    color: #c91c2b;
}
.cards .card .img3{
    position: relative;
    top: -19px;

}
.cards .card .h2{
    margin-top: 1.4%;
}